
.body2 {
    display: grid;
    background-image: url(https://img.freepik.com/free-vector/matrix-style-binary-code-digital-background-with-falling-numbers_1017-25336.jpg?semt=ais_hybrid&w=740&q=80);
    height: 200vh;  
    margin: 0;
    background-size: cover;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 10% 35% 10% 35% 10%;
    row-gap: 15px 10px 20px 20px;
    grid-template-areas: 
    'hd na1 na1'
    'mn mn mn'
    'mn mn mn'
    'na2 na2 na2 '
    'sec1 sec2 sec3'
    'ft ft ft'
}

header {
    display: flex;
    grid-area:hd;
    font-size: xx-large;
    color: #2ecc71;
    align-items: center;
    justify-content: center;
    border: 2px solid #2ecc71;
    border-radius: 10px;
    background: rgba(red, green, blue, 0.0000000001);
}
nav1 {
    display: flex;
    grid-area:na1;
    border: 2px solid #2ecc71;
    border-radius: 10px ;
    color: #2ecc71;
    font-size: x-large;
    justify-content: space-evenly;
    align-items: center;
    
}
a {
    color: #2ecc71;
    text-decoration: none;
} 
a:hover {
    cursor: pointer;
    color: #545775;
}
